html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif, bold;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin:0;
}

h1 {
	text-align: center;
	margin:0;
	font-size: 4em;
	color:#512200;
	font-weight: bold;

}

.masthead{
padding-top: 2em;
padding-bottom: 4em;
background-image: url("../images/beetle graphic.svg"), url("../images/beetle graphic.svg"), url("../images/masthead-bg.png");
background-size: 60px auto, 60px auto, 94.5px auto;
background-repeat: no-repeat, no-repeat, repeat;
background-position: left center, right center;
text-align: center;
}

nav{
	text-align: center;
	text-decoration: none;

}

nav ul{
	color: #fff;
	list-style: none;
	margin: 0;
	padding:0;
}

nav li{
	margin:0;
	padding:10px;
	width: 24%%;
	background-color: ;
	display: inline-block;
	text-decoration: none;
}

a{
	color: #fff;
	text-decoration: none;

.banner-image{
	width:100%;
}

.banner-text{
	font-size: 1.5em;
	color: #fff;
	text-align: center;
	bottom: 1.5em;
	width: 100%;
	margin: 0;
	position: absolute;
}

.ant-nest{
	width:50%;
	display: block;
	margin: 0;


}

.button-a{
	color: #fff;
	font-weight: lighter;
	border-radius: 18px;
	padding: 5px;
	bottom: 10px;
	clear:left;
	position:absolute;
	overflow: hidden;
	width: 25%;
	text-align: center;
	background-image: linear-gradient(to bottom, #6fc000, #388200);
	box-shadow: 2px 2px 2px #000;
}

.stag{
	width:50%;
	float:right;
	clear:left;
	display: inline block;
}

.button-s{
	color: #fff;
	font-weight: lighter;
	border-radius: 18px;
	padding: 5px;
	bottom: px;
	clear:left;
	position:absolute;
	overflow: hidden;
	width: 25%;
	text-align: center;
	background-image: linear-gradient(to bottom, #6fc000, #388200);
	box-shadow: 2px 2px 2px #000;
}

.dung{
	width:50%;
	display: block;
	margin: 0;
}

.button-d{
	color: #fff;
	font-weight: lighter;
	border-radius: 18px;
	padding: 5px;
	bottom: px;
	clear:left;
	position:absolute;
	overflow: hidden;
	width: 25%;
	text-align: center;
	background-image: linear-gradient(to bottom, #6fc000, #388200);
	box-shadow: 2px 2px 2px #000;
}

.tortoise{
	width:50%;
	float:right;
	display: block;
}

.button-t{
	color: #fff;
	font-weight: lighter;
	border-radius: 18px;
	padding: 5px;
	bottom: px;
	clear:right;
	position:absolute;
	overflow: hidden;
	width: 25%;
	text-align: center;
	background-image: linear-gradient(to bottom, #6fc000, #388200);
	box-shadow: 2px 2px 2px #000;
}

footer{
	background-color: #512200;
	opacity: 0.5;
	filter: alpha(opacity=50);
	display: block;
}

.f-beetle{
	width:30%;

}
