html {
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif, bold;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
	margin:0;
}

h1 {
	text-align: center;
	margin:0;
	font-size: 4.5em;
	color:#512200;
	font-weight: bold;
}

.masthead{
padding-top: 1.2em;
background-image: url("../images/beetle graphic.svg"), url("../images/beetle graphic.svg"), url("../images/masthead-bg.png");
background-size: 65px auto, 65px auto, 158px auto;
background-repeat: no-repeat, no-repeat, repeat;
background-position: left 35px, right 35px, right center;
text-align: center;
}

nav{
	background-color: rgba(81,31,0,0.5);
	font-weight: bold;
	font-size: 20pt;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li{
	margin:0;
	padding:10px;
	display: inline-block;
	text-decoration: none;
	width:24.3%;
}

a{
	color: #fff;
	text-decoration: none;
}

.nav:hover{
	background-color: rgba(81,31,0, 0.5);
}

.banner{
	position:relative;
	overflow: hidden;
	width: 100%;
}

.banner-image{
	width:100%;
	display: block;
}

.banner-text{
	font-size: 2em;
	font-weight: bold;
	color: #fff;
	text-align: center;
	bottom: 0.2px;
	width: 100%;
	margin: 0;
	position: absolute;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-right: 90px;
	padding-left:90px;
	background-image:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.5));
}

.ant-nest{
	width:50%;
	display: block;
	float:left;
	margin: 0;
}

.button-a{
	color: #fff;
	font-weight: lighter;
	border-radius: 18px;
	padding: 5px;
	bottom: 10px;
	clear:left;
	position:absolute;
	overflow: hidden;
	width: 25%;
	text-align: center;
	background-image: linear-gradient(to bottom, #6fc000, #388200);
	box-shadow: 2px 2px 2px #000;
}

.stag{
	width:50%;
	display: inline-block;
	float:right;
}

.button-s{
	color: #fff;
	font-weight: lighter;
	border-radius: 18px;
	padding: 5px;
	float:right;
	position:absolute;
	overflow: hidden;
	width: 25%;
	text-align: center;
	background-image: linear-gradient(to bottom, #6fc000, #388200);
	box-shadow: 2px 2px 2px #000;
}

.dung{
	width:50%;
	display: block;
	margin: 0;
	float:left;
}

.button-d{
	color: #fff;
	font-weight: lighter;
	border-radius: 18px;
	padding: 5px;
	float:left;
	position:30px 30px 30px 30px;
	overflow: hidden;
	width: 25%;
	text-align: center;
	background-image: linear-gradient(to bottom, #6fc000, #388200);
	box-shadow: 2px 2px 2px #000;
}

.tortoise{
	width:50%;
	clear:right;
	display: block;
}

.button-t{
	color: #fff;
	font-weight: lighter;
	border-radius: 18px;
	padding: 5px;
	float:right;
	overflow: hidden;
	width: 25%;
	text-align: center;
	background-image: linear-gradient(to bottom, #6fc000, #388200);
	box-shadow: 2px 2px 2px #000;
}

footer{
	background-image: url("../images/beetle graphic.svg");
	background-color: rgba(81,31,0,0.5);
	background-size: 30px auto;
	background-repeat: no-repeat;
	background-position: center;
	padding:30px;
}

.f-beetle{
	width:20%;
	padding:20px;
}
